<?xml version="1.0"?>
<launch>

  <group ns="seirios_api">
    <rosparam command="load" file="$(find movel_flexbe)/config/seirios_api.yaml" />
  </group>

  <arg name="no_app" default="false" />

  <include file="$(find flexbe_app)/launch/flexbe_ocs.launch" >
    <arg name="offline" value="false"/>
    <arg name="no_app" value="$(arg no_app)"/>
  </include>

  <include file="$(find flexbe_onboard)/launch/behavior_onboard.launch" />

  <node pkg="flexbe_widget" type="be_action_server" name="be_action_server" output="screen"/>

  <node pkg="movel_flexbe" type="flexbe_msg_republisher.py" name="flexbe_msg_republisher" output="screen"/>

</launch>